
     
    /* @media (max-width:768px) {
            .b-frame {
                height: 195px;
            }
     }
     @media (max-width:480px) {            

        body .b-frame {
                overflow: hidden;
                height: 145px;               
            }

        body .b-frame li p {
            padding-left: 0;
            padding-right: 0;
        }

    }*/
