$color: "#000";

body {
	div {
		position: relative;
		color: $color;
	}
}
div.somename ul.somename li.somename div.content p{

}

div.somename{

	ul.somename{

		li.somename{


		}
		li.somename2{


		}
		li.somename3{

			
		}

	}

}